@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esto está en uso con el fin de dar de alta, baja y a su vez la modificación los registros</p>
</div>
